In [1]:
import pandas as pd
import pickle # to download it into streamlit;
from sklearn import tree



# clf.predict([[1, 1]])


df = pd.read_csv("finnhub_trading.csv")
df

         timestamp symbol     price  volume
0    1697824839641   AAPL  174.2400      30
1    1697824839744   AAPL  174.2350       1
2    1697824839745   AAPL  174.2399      18
3    1697824840032   AAPL  174.2472    2400
4    1697824840064   AAPL  174.2480       1
..             ...    ...       ...     ...
252  1697824863284   AAPL  174.3500      20
253  1697824863285   AAPL  174.3450     100
254  1697824863288   AAPL  174.3450     200
255  1697824863300   AAPL  174.3400      57
256  1697824863313   AAPL  174.3400      56

[257 rows x 4 columns]

In [2]:
clf = tree.DecisionTreeRegressor()
X = df.volume.map(lambda v: [v]).to_list()
y = df.price.to_list()

clf = clf.fit(X, y)

# data_lag1 = 

clf.predict([[1200]])

array([174.29])

In [3]:
pickle.dump(clf, open("model.sav", "wb+"))

In [5]:
# this part should be on Streamlit

clf_read = pickle.load(open("model.sav", "rb"))
clf_read.predict([[10]])

array([174.261])